
body{
    color: white;
    background-color: black;
}

.fundo{
    width: 80%;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30%;
    width: 80%;
    margin: 0 auto;
}

.tamanhoNav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}

.form-inline{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.navegacao{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    
}

.navbar-brand:hover{
    color: rgb(4, 173, 4) !important;
    font-weight: 600;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 25%;
    border-bottom: solid 1px rgba(255, 255, 255, 0.63);
    padding-top: 10px;
    
    
}

.conteudoPrincipal{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin-top: 60px;
    
}

.rodape{
    text-align: center;
    margin-top: 20px;
}